<section id="about-me" class="about-me">
  <div class="page-container">
    <div class="about-me__card">
      <div class="about-me__text-block">
        <h2 class="about-me__title">About me</h2>

        <p class="about-me__description">
          Write some information about yourself that is IT related. Why are you passionate
          about coding? Show a desire to learn new technologies.
        </p>

        <p class="about-me__description about-me__description--second">
          Add a brief description of your problem-solving approach. You can include some key
          traits like: analytical thinking, creativity, persistence and collaboration.
        </p>

        <div class="about-me__details">
          <div class="about-me__detail-row">
            <img class="about-me__detail-icon" src="assets/images/about-me/location-icon.png" alt="Location icon" />
            <p class="about-me__detail">Based in Munich</p>
          </div>

          <div class="about-me__detail-row">
            <img class="about-me__detail-icon" src="assets/images/about-me/remote-icon.png" alt="Remote work icon" />
            <p class="about-me__detail">Open to work Remote</p>
          </div>
        </div>

        <a class="about-me__button" href="#contact">Let's talk</a>
      </div>

      <div class="about-me__image-wrapper">
        <img class="about-me__image" src="assets/images/about-me/profile-photo.png" alt="Portrait of Norman Pfalzer" />
      </div>

      <span class="about-me__arrow"></span>
    </div>
  </div>
</section>
