<section id="portfolio" class="portfolio">
  <div class="page-container portfolio__content">
    <div class="portfolio__spacer" aria-hidden="true">
      <div class="portfolio__spacer-arrow" [class.portfolio__spacer-arrow--animate]="arrowIsAnimating" #spacerArrow>
        <img class="portfolio__spacer-arrow-image" src="assets/images/interactions/skills/about-to-skills-arrow-frame-2.png" alt="" />
      </div>
    </div>

    <h2 class="portfolio__title">Portfolio</h2>

    <p class="portfolio__intro">
      Explore a selection of my work here - Interact with projects to see my skills in action.
    </p>

    <div class="portfolio__projects">
      @for (project of projects; track project.title) {
        <app-project-card
          [projectNumber]="project.projectNumber"
          [title]="project.title"
          [subtitle]="project.subtitle"
          [description]="project.description"
          [imageSrc]="project.imageSrc"
          [hoverImageSrc]="project.hoverImageSrc"
          [imageAlt]="project.imageAlt"
          [liveLink]="project.liveLink"
          [githubLink]="project.githubLink"
          [reverse]="project.reverse"
        ></app-project-card>
      }
    </div>
  </div>
</section>
