.portfolio {
  padding: 172px 0 0;
  background-color: #fffcf3;

  &__content {
    min-height: 2333px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    margin: 0;
    font-size: 64px;
    line-height: 1;
    letter-spacing: -0.04em;
    text-align: center;
  }

  &__intro {
    max-width: 465px;
    margin: 18px 0 0;
    font-size: 22px;
    line-height: 1.25;
    text-align: center;
  }

  &__projects {
    width: 100%;
    max-width: 1242px;
    margin-top: 78px;
    display: flex;
    flex-direction: column;
    gap: 112px;
  }
}

@media (max-width: 992px) {
  .portfolio {
    padding: 120px 24px 0;

    &__content {
      min-height: 2567px;
    }

    &__title {
      font-size: 48px;
    }

    &__intro {
      max-width: 310px;
      font-size: 16px;
    }

    &__projects {
      margin-top: 48px;
      gap: 56px;
    }
  }
}
