.portfolio {
  padding: 126px 0 0;
  background-color: #fffcf3;

  &__content {
    min-height: 2333px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    margin: 0;
    font-size: 68px;
    line-height: 1;
    letter-spacing: -0.04em;
    text-align: center;
  }

  &__intro {
    max-width: 390px;
    margin: 12px 0 0;
    font-size: 16px;
    line-height: 1.3;
    text-align: center;
  }

  &__projects {
    width: 100%;
    max-width: 1240px;
    margin-top: 64px;
    display: flex;
    flex-direction: column;
    gap: 104px;
  }
}

@media (max-width: 992px) {
  .portfolio {
    padding-top: 108px;

    &__content {
      min-height: 2567px;
    }

    &__title {
      font-size: 52px;
    }

    &__intro {
      max-width: 285px;
      margin-top: 14px;
      font-size: 16px;
      line-height: 1.35;
    }

    &__projects {
      max-width: 390px;
      margin-top: 48px;
      gap: 76px;
    }
  }
}
