@font-face {
  font-family: 'Syne';
  src: url('../../public/assets/fonts/syne/Syne-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Syne';
  src: url('../../public/assets/fonts/syne/Syne-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Syne';
  src: url('../../public/assets/fonts/syne/Syne-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Overpass';
  src: url('../../public/assets/fonts/overpass/Overpass-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Overpass';
  src: url('../../public/assets/fonts/overpass/Overpass-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
