.home-shell {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding-top: 92px;
  background-color: #fffcf3;
  overflow-x: clip;
}

@media (min-width: 601px) and (max-width: 992px) {
  .home-shell {
    max-width: 768px;
  }
}

@media (max-width: 600px) {
  .home-shell {
    max-width: 320px;
  }
}
